doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ERD 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 TEAM ANALISIS SUEB

      section
        h2 Sistem Database ERD
        hr
        ul
          li Ilhamdi
          li Dedi Josua Situmorang
          li Markus Apriadi Sitohang
          li Lamhot Nababan

      section
        h2 Sejarah ERD
        h3 Model Entity Relationship diperkenalkan pertama kali oleh P.P. Chen  pada tahun 1976.<BR> ERD ini dirancang untuk menggambarkan persepsi dari pemakai  dan berisi obyek-obyek dasar yang disebut entity dan hubungan antar entity-entity tersebut yang disebut relationship
      section
        h2 Apakah yang dimaksud dengan Entity Relationship Diagram (ERD)?
        h3 Sebuah  ERD menggambarkan data dalam konteks entitas dan hubungannya. Tujuan utama dari sebuah ERD adalah untuk mendokumentasikan struktur logis dari database.
      section
        h2 Notasi dalam ERD
        p Ada beberapa notasi dalam ERD, adapun notasi-notasi tersebut adalah sebagai berikut :
        h3 Entitas
        p Entitas adalah objek yang ada dan dapat diberikan dari obyek lain dalam dunia nyata. Entitas adalah atribut yang membedakan dirinya dengan obyek lain
        h3 Atribut
        p Atribut adalah pendeskripsian karakteristik dari entitas. Atribut digambarkan dalam bentuk lingkaran atau elips. Setiap entitas pada atribut memiliki kunci atribut yang bersifat unik. Atribut yang menjadi kunci entitas atau primary key diberi garis bawah
      section
        h3 Relasi atau Hubungan
        p Adalah hubungan yang terjadi antara satu atau lebih entitas yang berbeda yang dihubungkan oleh garis
        h3 Derajat relasi atau kardinalitas rasio
        p Menjelaskan jumlah maksimum hubungan antara satu entitas dengan entitas lainnya.
        ul
          li Satu ke satu (one to one), Setiap anggota entitas A hanya boleh berhubungan dengan satu anggota entitas B, begitu pula sebaliknya.
          li Satu ke banyak (one to many), Setiap anggota entitas A dapat berhubungan dengan lebih dari satu anggota entitas B tetapi tidak sebaliknya
          li Banyak ke banyak (many to many), Setiap entitas A dapat berhubungan dengan banyak entitas himpunan entitas B dan demikian pula sebaliknya

      section
        h2 Atribut ERD
        h3 Atribut memberikan informasi lebih rinci tentang jenis entitas. Atribut memiliki struktur internal berupa tipe data<BR>Jenis-jenis atribut:
        ul
          li Key, Atribut yang digunakan untuk menentukan suatu entity secara unik.
          li Atribut Simple,Atribut yang bernilai tunggal.
          li Atribut Multivalue , Atribut yang memiliki sekelompok nilai untuk setiap instan entity. 
          li Atribut Komposit, Suatu atribut yang terdiri dari beberapa atribut yang lebih kecil yang mempunyai arti tertentu. 
          li Atribut Derivatif, suatu atribut yg dihasilkan dari atribut yang lain.


      section 
        h2 RELASI (Relationship)
        p Relasi adalah hubungan antara tabel yang mempresentasikan hubungan antar objek di dunia nyata
        p Dimana juga terdapat berbagai macam dari Relasi (Relationship):
        ul
          li One-to-many 
          li one-to-one
          li many-to-many

      section
        h2 Entity/Entitas
        p Segala sesuatu yang dapat digambarkan oleh data. 
        p Entitas juga dapat diartikan sebagai individu yang mewakili sesuatu yang nyata dan dapat dibedakan dari sesuatu yang lain (Fathansyah, 1999).
        p Ada dua macam entitas yaitu entitas kuat dan entitas lemah. Entitas kuat merupakan entitas yang tidak memiliki ketergantungan dengan entitas lainnya
        p Sedangkan entitas lemah merupakan entitas yang kemunculannya tergantung pada keberadaaan entitas lain dalam suatu relasi.
          
       section
          h2 Contoh Entity/Entitas
          p Individu : Pegawai, pelanggan, mahasiswa, distributor ObjekPeristiwa
          p Tempat : ruang, bangunan, kantor, lapangan, kampus
          p Objek : Buku, Motor, paket, software, produk
          p Peristiwa : Pendaftaran , pemesanan, penagihan
          p Konsep : Rekening, kualifikasi

       section
          h2 Cardinalitas
          p Cardinalitas merupakan jumlah minimum dan maksimum dari hubungan antar entitas,disebabkan berhubungan bersifat dua arah (bidirectional).
          p Contoh : Seorang dosen paling banyak mengambil satu jurusan tetapi ada dosen yang tidak menjadi ketua jurusan (relasi one-to-one)
          p Contoh : Seorang dosen bisa menerima honor beberapa kali, tetapi mungkin juga tidak menerima honor jika ia tidak mengajar (relasi one-to many)
          p Contoh : Seorang customer dapat membeli beberapa barang dan sebuah barang dapat dibeli oleh beberapa customer (relasi many-to-many)

      section
        h2 Tahapan Pembuatan ERD
        h3 Tahap 1 : Penentuan Entitas
        hr
        

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild